.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

#delete-form {
  display: inline;
}

#img-thumbnail {
	height: 200px;
}

.home-thumbnail {
  display:flex; 
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  #img-thumbnail {
	height: auto;
	}
}